    #Professionel_Section{
        background: #515151;
        color: white;
        .Professionel_headline{
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(255, 0, 0, 0.78);
            text-shadow: 10px 10px 10px black;
        }
            .Professionel_image{
                width: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .Professionel_container{
                    display: grid;
                    grid-template-columns:1fr 1fr;
                    padding: 10px 20px;
                    color: white;
                    gap: 20px;
            }    
                .P_PC-1,.P_PC-2,
                .P_PC-3,.P_PC-4,
                .P_PC-5,.P_PC-6{
                    border: 1px solid red;
                    display: flex;
                    align-items: center;
                    box-shadow: 10px 10px 10px red;
                } 
            button{
                border-radius: 20px;
                width: 50px;
            }
            button:hover{
                background: red;
                color: white;
                cursor: pointer;
            }
            .Professionel_info {
                padding: 20px;
                text-align: right;
            }
            
            .Professionel_info h3 {
                margin-top: 0;
            }
    }
    @media screen and (max-width: 768px) {
        .Professionel_image {
            width: 100%;
            img {
                max-width: 100%; 
                height: auto;
            }
            }
            .Professionel_headline {
                font-size: 1.8rem; 
                text-shadow: none;
            }
        .Professionel_container {
            grid-template-columns: 1fr;
            gap: 10px;
        }
}





