@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bricolage+Grotesque&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Edu+SA+Beginner:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jura:wght@300;400;500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bricolage+Grotesque&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Edu+SA+Beginner:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jura:wght@300;400;500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300;400;500;600;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-family: "Bitter", serif;
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Jura", sans-serif;
  font-family: "Maven Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Signika", sans-serif;
  /* Stil für das Anmeldeformular innerhalb des Pop-ups */
}
body header {
  font-family: "Open Sans", sans-serif;
  background: rgba(128, 128, 128, 0.852);
  text-align: center;
}
body header h1 {
  font-size: 5rem;
  display: flex;
  text-shadow: 5px 5px 5px black;
  color: red;
}
body header nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
body header .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
body header .nav-links li {
  margin-right: 20px;
}
body header .nav-links a {
  text-decoration: none;
  color: #fff;
}
body header .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
body header .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}
body header a:hover {
  color: red;
  text-decoration: underline;
}
body header .slider_container {
  width: 100%;
  overflow: hidden;
}
body header .slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
  overflow: hidden;
}
body header .slider img {
  width: 100%;
  height: auto;
  display: block;
}
body header #home {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  body header h1 {
    font-size: 2rem;
  }
  body header .header_container {
    flex-direction: column;
    align-items: flex-end;
  }
  body header nav {
    margin-top: 20px;
  }
  body header nav ul {
    flex-direction: column;
    text-align: right;
    display: none;
  }
  body header nav.active ul {
    display: flex;
  }
  body header nav li {
    margin: 10px 0;
    text-align: right;
    display: none;
  }
  body header .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;
  }
  body header .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
}
body #PC-Section,
body #Desktop-PC_Section {
  background: #333;
}
body h2 {
  color: white;
  text-shadow: 10px 10px 10px black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
body .PC_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  color: white;
  gap: 20px;
}
body .Zocker-PC, body .Zocker-PC-Aet,
body .Gamer-PC, body .PC-Gaming,
body .Gamer-PC-Aspect, body .PC-für-Zocker,
body .Zocker-PC-Viking, body .Battelfield-Private,
body .Battelfield-Corporal, body .Spiele-PC,
body .Zocker-PC-Dear, body .PC-Gamer-Sharpshooter {
  border: 1px solid red;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 10px red;
}
body .PC-info {
  padding: 20px;
  text-align: right;
}
body .PC-info h3 {
  margin-top: 0;
}
body .Zocker-PC img {
  max-width: 100%;
}
body button {
  border-radius: 20px;
  width: 50px;
}
body button:hover {
  background: red;
  color: white;
  cursor: pointer;
}
body .PC-info_container {
  text-align: right;
}
body .PC_main_image img {
  width: 100%;
  height: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 40%;
     object-position: 60% 40%;
}
@media screen and (max-width: 768px) {
  body .PC_container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
body .Laptops_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  color: white;
  gap: 20px;
}
body .Laptops_container .Laptop-1, body .Laptops_container .Laptop-2,
body .Laptops_container .Laptop-3, body .Laptops_container .Laptop-4 {
  border: 1px solid red;
  display: flex;
  box-shadow: 10px 10px 10px red;
}
@media screen and (max-width: 768px) {
  body .Laptops_container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  body .Laptop-1,
  body .Laptop-2,
  body .Laptop-3,
  body .Laptop-4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
body #Laptop_section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background: #515151;
  color: white;
}
body #Laptop_section .Laptop_headline {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 0, 0, 0.78);
  text-shadow: 10px 10px 10px black;
}
body #Laptop_section .Laptop_main_image {
  width: 100%;
}
body #Laptop_section .Laptop_main_image img {
  width: 100%;
  height: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
body #Laptop_section .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  color: white;
  gap: 20px;
}
body #Laptop_section .content .Laptop-1,
body #Laptop_section .content .Laptop-2,
body #Laptop_section .content .Laptop-3,
body #Laptop_section .content .Laptop-4,
body #Laptop_section .content .Laptop-5,
body #Laptop_section .content .Laptop-6 {
  border: 1px solid red;
  display: flex;
  box-shadow: 10px 10px 10px red;
}
body #Laptop_section button {
  border-radius: 20px;
  width: 50px;
}
body #Laptop_section button:hover {
  background: red;
  color: white;
  cursor: pointer;
}
body #Laptop_section .Laptop_info {
  padding: 20px;
  text-align: right;
}
body #Laptop_section .Laptop_info h3 {
  margin-top: 0;
}
@media (max-width: 768px) {
  body .content {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  body .Laptop-1,
  body .Laptop-2,
  body .Laptop-3,
  body .Laptop-4,
  body .Laptop-5,
  body .Laptop-6 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
body #Laptop_hinweis {
  background: #333;
  color: white;
}
body #Laptop_hinweis h4 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-shadow: 10px 10px 10px black;
}
body #Laptop_hinweis pre {
  font-size: 1.2rem;
  display: flex;
  margin-top: 12px;
}
@media (max-width: 768px) {
  body h4 {
    font-size: 1.5rem;
    text-align: center;
  }
  body pre {
    font-size: 0.785rem;
    text-align: center;
  }
}
body .info_section {
  background: #515151;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}
body .info_section .info_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
body .info_section h2 {
  color: white;
  font-size: 2rem;
}
body .info_section p {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
body .info_section a {
  color: red;
}
body .info_section a:hover {
  text-decoration: underline;
  color: white;
}
body .info_section .kunden_container,
body .info_section .bezahl_container,
body .info_section .versand_container,
body .info_section .güter_container,
body .info_section .Newsletter_container {
  flex: 1;
  padding: 10px;
  text-align: center;
}
body .info_section .kunden_container img,
body .info_section .bezahl_container img,
body .info_section .versand_container img,
body .info_section .güter_container img {
  max-width: 100%;
  height: auto;
}
body .kunden_container p:hover {
  color: white;
  text-decoration: none;
}
body .versand_container p:hover {
  color: white;
}
body .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
body .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  body .info_section {
    flex-direction: column;
  }
  body .kunden_container,
  body .bezahl_container,
  body .versand_container,
  body .güter_container,
  body .Newsletter_container {
    flex: 1;
    margin: 10px 0;
  }
}
body footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
body footer .social-icons {
  margin-top: 20px;
}
body footer .social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  body footer {
    padding: 10px;
  }
  body .social-icons {
    margin-top: 10px;
  }
  body .social-icons a {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */